body,
html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%; }

/* Animations  --- */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  @media only screen and (max-width: 768px) {
    .animated {
      /*CSS transitions*/
      -ms-transition-property: none !important;
      -webkit-transition-property: none !important;
      transition-property: none !important;
      /*CSS animations*/
      -ms-animation: none !important;
      -webkit-animation: none !important;
      animation: none !important; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.block__home-text-block {
  animation-delay: 0.3s;
  opacity: 0; }
  @media only screen and (max-width: 768px) {
    .block__home-text-block {
      opacity: 1; } }

.block__portfolio-item {
  animation-delay: 0.5s;
  opacity: 0; }
  @media only screen and (max-width: 768px) {
    .block__portfolio-item {
      opacity: 1; } }

.block__about h1, .block__about .blockquote, .block__about p, .block__home h1, .block__home .blockquote, .block__home p, .block__portfolio h1, .block__portfolio .blockquote, .block__portfolio p, .block__contact h1, .block__contact .blockquote, .block__contact p {
  opacity: 0; }
  @media only screen and (max-width: 768px) {
    .block__about h1, .block__about .blockquote, .block__about p, .block__home h1, .block__home .blockquote, .block__home p, .block__portfolio h1, .block__portfolio .blockquote, .block__portfolio p, .block__contact h1, .block__contact .blockquote, .block__contact p {
      opacity: 1; } }

.block__about h1, .block__home h1, .block__portfolio h1, .block__contact h1 {
  animation-delay: 0.3s; }

.block__about .blockquote, .block__home .blockquote, .block__portfolio .blockquote, .block__contact .blockquote {
  animation-delay: 0.5s; }

.block__about p, .block__home p, .block__portfolio p, .block__contact p {
  animation-delay: 0.7s; }

.block__services > .row > div:nth-child(1) {
  opacity: 0;
  animation-delay: 0.3s; }
  @media only screen and (max-width: 768px) {
    .block__services > .row > div:nth-child(1) {
      opacity: 1; } }

.block__services > .row > div:nth-child(2) {
  opacity: 0;
  animation-delay: 0.5s; }
  @media only screen and (max-width: 768px) {
    .block__services > .row > div:nth-child(2) {
      opacity: 1; } }

.block__services > .row > div:nth-child(3) {
  opacity: 0;
  animation-delay: 0.7s; }
  @media only screen and (max-width: 768px) {
    .block__services > .row > div:nth-child(3) {
      opacity: 1; } }

.block__services > .row > div:nth-child(4) {
  opacity: 0;
  animation-delay: 0.9s; }
  @media only screen and (max-width: 768px) {
    .block__services > .row > div:nth-child(4) {
      opacity: 1; } }

.block__portfolio-item--logo, .block__portfolio-item--text {
  opacity: 0; }
  @media only screen and (max-width: 768px) {
    .block__portfolio-item--logo, .block__portfolio-item--text {
      opacity: 1; } }

.block__portfolio-item--logo {
  animation-delay: 0.3s; }

.block__portfolio-item--text {
  animation-delay: 0.5s; }

.block__contact .list-group-item:nth-child(1) {
  opacity: 0;
  animation-delay: 0.5s; }
  @media only screen and (max-width: 768px) {
    .block__contact .list-group-item:nth-child(1) {
      opacity: 1; } }

.block__contact .list-group-item:nth-child(2) {
  opacity: 0;
  animation-delay: 0.6s; }
  @media only screen and (max-width: 768px) {
    .block__contact .list-group-item:nth-child(2) {
      opacity: 1; } }

.block__contact .list-group-item:nth-child(3) {
  opacity: 0;
  animation-delay: 0.7s; }
  @media only screen and (max-width: 768px) {
    .block__contact .list-group-item:nth-child(3) {
      opacity: 1; } }

.block__contact .list-group-item:nth-child(4) {
  opacity: 0;
  animation-delay: 0.8s; }
  @media only screen and (max-width: 768px) {
    .block__contact .list-group-item:nth-child(4) {
      opacity: 1; } }

.block__contact .list-group-item:nth-child(5) {
  opacity: 0;
  animation-delay: 0.9s; }
  @media only screen and (max-width: 768px) {
    .block__contact .list-group-item:nth-child(5) {
      opacity: 1; } }

/* --- Animations */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  background: transparent;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  @media only screen and (max-width: 768px) {
    .navbar {
      opacity: 1; } }
  @media (max-width: 992px) {
    .navbar {
      background: rgba(0, 0, 0, 0.7); } }
  .navbar .navbar-toggler {
    outline: none; }
    .navbar .navbar-toggler-icon {
      background: transparent;
      height: auto;
      color: #ffffff; }
  .navbar .nav-link {
    color: #ffffff !important; }
    .navbar .nav-link.active {
      border-bottom: 2px solid #ffffff; }
    .navbar .nav-link:hover {
      border-bottom: 2px solid #000000; }
      @media (max-width: 992px) {
        .navbar .nav-link:hover {
          border-bottom: 2px solid #f8f9f9; } }
  .navbar.scrolled {
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .navbar.scrolled .navbar-toggler-icon {
      color: #000000; }
    .navbar.scrolled .nav-link {
      color: #000000 !important; }
      .navbar.scrolled .nav-link.active {
        border-bottom: 2px solid #7e1301; }

.skewBox {
  -ms-transform: skew(0deg, -4deg) translateY(-65px);
  -webkit-transform: skew(0deg, -4deg) translateY(-65px);
  transform: skew(0deg, -4deg) translateY(-65px); }
  .skewBox__content {
    -ms-transform: skew(0deg, 4deg) translate(-50%, -50%);
    -webkit-transform: skew(0deg, 4deg) translate(-50%, -50%);
    transform: skew(0deg, 4deg) translate(-50%, -50%); }

.border--none {
  border: 0; }

.border--bottom {
  border-bottom: 2px solid; }

.border--red {
  border-color: #7e1301 !important; }

.block {
  padding: 100px 150px;
  overflow: hidden; }
  @media (max-width: 992px) {
    .block {
      padding: 20px 10px; } }
  .block h1.headline {
    margin-bottom: 50px; }
  .block__footer {
    position: relative;
    padding: 20px 150px;
    background: #000000;
    color: #ffffff; }
    @media (max-width: 992px) {
      .block__footer {
        padding: 10px 20px; } }
  .block__home {
    background: url("../images/bg-mt.jpg") no-repeat fixed center;
    background-size: cover; }
    .block__home-bg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../images/bg-tr.png") no-repeat center;
      background-size: cover; }
    .block__home-text-block {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 20px 50px;
      background: rgba(0, 0, 0, 0.5);
      color: #ffffff; }
      @media (max-width: 992px) {
        .block__home-text-block {
          width: 100%; } }
      @media (max-width: 992px) and (orientation: landscape) {
        .block__home-text-block {
          top: 75%; } }
      .block__home-text-block p {
        font-size: 20px;
        color: #ffffff; }
  .block__about p {
    padding-left: 20px; }
    @media (max-width: 992px) {
      .block__about p {
        padding-left: 0px; } }
  .block__about .blockquote {
    font-size: inherit;
    font-style: italic;
    font-size: 14px;
    padding-left: 20px; }
    .block__about .blockquote-quote {
      text-align: justify; }
  .block__about .image {
    background: url("../images/about.jpg") no-repeat center;
    background-size: cover; }
  .block__services {
    background: #f8f9f9; }
    .block__services i {
      padding-bottom: 20px; }
  .block__portfolio {
    font-size: 14px;
    font-weight: 600; }
    .block__portfolio-items {
      margin-right: 0; }
    .block__portfolio-item--logo .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .block__portfolio-item--logo img {
      width: 100%;
      vertical-align: middle; }
    .block__portfolio-item--text {
      padding: 10px;
      color: #ffffff;
      background: #fbc030; }
  .block__contact {
    position: relative;
    background: url("../images/map.jpg") no-repeat center;
    background-size: cover;
    font-weight: 600;
    overflow: hidden;
    padding: 100px 150px 200px; }
    @media (max-width: 992px) {
      .block__contact {
        padding: 50px 10px 200px; } }
    .block__contact:after {
      width: 100%;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transform: skew(0deg, -4deg) translateY(-65px);
      -ms-transform: skew(0deg, -4deg) translateY(-65px);
      transform: skew(0deg, -4deg) translateY(-65px);
      background-color: #000000;
      z-index: 2; }
    .block__contact a {
      color: #000000;
      cursor: default;
      text-decoration: none; }
    .block__contact .list-group-item {
      background: rgba(255, 255, 255, 0.7); }

/*# sourceMappingURL=main.css.map */